<!--div class="wrapper-1">
  <div class="container">
    <nav class="navbar  navbar-expand-md navbar-dark">
      
      <a class="navbar-brand logo" href="#page-one"><img src="assets/img/logo6.png" alt="logo"></a>

      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse menu" id="collapsibleNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#two-page">Practice Areas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#three-page">Connect</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div-->
<div class="wrapper-1">
  <div class="container">
    <nav class="navbar  navbar-expand-md navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand logo" href="#page-one"><img src="assets/img/logo6.png" alt="logo"></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse menu" id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#page-one">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#two-page">Practice Areas</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#four-page">Giving Back</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#three-page">Connect</a>
        </li> 
      </ul>
      <!--li class="nav-item login-link-box">
          <a class="nav-link" routerLink="/login"><span><i class="fa fa-user"></i></span> &nbsp;Log In</a>
        </li--> 
    </div> 
  </nav>
    </div>
    </div>
    <div class="clearfix"></div>
	<div class="wrap-section" id="page-one">
<div class="container">
	<div class="caption1">
	<h1>Value Exchange<br> Platforms Simplified</h1>
	
	</div>
		</div>
	</div>
	<div class="wrapper-2">
	    <div class="container">
	        <div class="what-we-do">
	            <h2>What we do</h2>
	            <p>Positrust integrates Blockchain Technology into your enterprise</p>
	        </div>
	    </div>
	</div>
	
	<div class="wrap-2" id="two-page">
<div class="container">
<h2>Practice Areas</h2>
	<div class="row">
	<div class="col-md-4">
		<div class="education education-4">
		    <div class="education-popup-box" data-toggle="modal" data-target="#myModal">
		        <figure>
		  <img src="assets/img/ed3.png" alt="icon" class="icon-img">
		  </figure>
		<h3>Education</h3>
			<p>Comprehensive Blockchain education determines resource delivery capabilities</p>
         
           </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closer1" data-dismiss="modal">&times;</button>
          <figure>
         <img src="assets/img/books.gif" alt="img">
         </figure>
        </div>
        <div class="modal-body">
            	<h3>Education</h3>
       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
       Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
       
      </div>
      
    </div>
  </div>
            
		</div>
		</div>
		<div class="col-md-4">
	<div class="education education-head">
	     <div class="education-popup-box" data-toggle="modal" data-target="#myModal1">
	         <figure>
          <img src="assets/img/ed12.png" alt="icon" class="icon-img">
          </figure>
			<h3>Integration</h3>
		<p>Extensive exposure and pilot initiatives in the complex modern enterprise has resulted in a robust replatforming toolkit. </p>
             </div>
           
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closer1" data-dismiss="modal">&times;</button>
          <figure>
          <img src="assets/img/books2.gif" alt="img">
          </figure>
        </div>
        <div class="modal-body">
            	<h3>Integration</h3>
       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
       Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      
    </div>
  </div>
		</div>
		</div>
		</div>
        <div class="col-md-4">
        <div class="education">
             <div class="education-popup-box" data-toggle="modal" data-target="#myModal2">
                 <figure>
          <img src="assets/img/ed5.png" alt="icon" class="icon-img">
          </figure>
		<h3>Execution</h3>
			<p>Blockchain implementation advancements demand an aggressive approach to continual capability development.
             </p>
           </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closer1" data-dismiss="modal">&times;</button>
          <figure>
       <img src="assets/img/pop-img.png" alt="img">
       </figure>
        </div>
        <div class="modal-body">
           		<h3>Execution</h3> 
       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
       Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
       
      </div>
      
    </div>
  </div>
		</div>
        </div>
	</div>
		</div>
	</div>

  
	<div class="wrap-3" id="four-page">
<div class="container">
      <h2>Giving Back</h2>
    <div class="row">
         <div class="col-md-3">
    <div class="details-section">
        <figure>
        <img src="assets/img/giveing1.jpg">
        </figure>
        </div>
        </div>
        <div class="col-md-9">
    <div class="details-section">
<p>Positrust congratulates the <a href="https://au.int/">African Union</a> on the ratification of the African
Continental Free Trade Agreement that went into force in May of 2019. In support of
this monumental milestone in African History, the <a href="#" data-toggle="modal" data-target="#myModal-data2">Positrust Knowledge Transfer
Initiative</a> has been launched to support the continent’s trade integration agenda.</p>
</div>
</div>
</div>

  <div class="modal fade" id="myModal-data2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closer1" data-dismiss="modal">&times;</button>
      
        </div>
        <div class="modal-body section-popup">
            	<h3>Positrust Knowledge Transfer Initiative</h3>
       <p>A technology initiative aimed at training five thousand five hundred (5500) IT
specialist representing the 5 continental regions of the African Union in
partnership with their governments. These 5500 will be trained in highly
specialized IT skills that will support cross border trade integration throughout
the continent as the AFCFTA policies take effect.</p>
        </div>
       
      </div>
      
    </div>
  </div>
<div>
</div>
</div>
</div>
    
    <div class="form-data2" id="three-page">>
    <div class="container">
        <h3>Contact Us</h3>
        <div class="row contact-page-icon">
                <div class="col-md-6">
                <div class="mail-id1">
            <span><i class="fa fa-envelope"></i> &nbsp;<a href="#">info@positrust.com</a></span>
            </div>
                </div>
                <div class="col-md-6">
                <div class="mail-id2">
            <span><i class="fa fa-facebook"></i></span> <span><i class="fa fa-twitter"></i></span>
                     <span><i class="fa fa-instagram"></i></span>
            </div>
            </div>
            </div>
        <div class="row">
        <div class="col-md-6">
            <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.706435476453!2d77.3150795153566!3d28.578576782439196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45ba6481455%3A0xcd52ec8780a441f6!2sNoida+Sec+16!5e0!3m2!1sen!2sin!4v1560855355056!5m2!1sen!2sin" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </div>
             <div class="col-md-6">
            <div class="location">
           <div class="Marketing_Right" style="background:#02395f;">
                            <form id="register-form" #contactForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                               <div class="row">
                                   <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control"  name="name" id="name" [(ngModel)]="model.name" #name="ngModel" required placeholder="Full Name" autocomplete="off">
									<div *ngIf="name.invalid && (name.dirty || name.touched)"   class="alert alert-danger">
										<div *ngIf="name.errors.required">
											Name is required.
										  </div>
										  
									</div>
                                </div>
                                   </div>
                                    <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" autocomplete="off">
									
									<div class="alert alert-danger" [hidden]="email.valid || email.untouched">
										<div  *ngIf="email.errors && email.errors.required">
											Email is required
										</div>
										<div *ngIf="email.errors && email.errors.pattern">
											Email is invalid
										</div>
									</div>
                                </div>
                                   </div>
                                </div>
                                   <div class="row">
                                   <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="model.phone" #phone="ngModel" required placeholder="Phone Number" autocomplete="off">
									<div *ngIf="phone.invalid && (phone.dirty || phone.touched)"   class="alert alert-danger">
										<div *ngIf="phone.errors.required">
											Phone is required.
										  </div>
										  
									</div>
                                </div>
                                       </div>
                                        <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="city" id="city" class="form-control"  [(ngModel)]="model.city" #city="ngModel" required placeholder="City" autocomplete="off">
									<div *ngIf="city.invalid && (city.dirty || city.touched)"   class="alert alert-danger">
										<div *ngIf="city.errors.required">
											City is required.
										  </div>
									</div>
								</div>
                                       </div>
                                </div>
                            
                                 <div class="form-group">
                                    <input type="address" name="address" id="address" class="form-control" [(ngModel)]="model.address" #address="ngModel" required placeholder="Address" autocomplete="off">
									<div *ngIf="address.invalid && (address.dirty || address.touched)"   class="alert alert-danger">
										<div *ngIf="address.errors.required">
											Address is required.
										  </div>
									</div>
                                </div>
                                <div class="form-group">
                                    <input type="subject" name="subject" id="subject" class="form-control"  [(ngModel)]="model.subject" #subject="ngModel" required placeholder="Subject" autocomplete="off">
									<div *ngIf="subject.invalid && (subject.dirty || subject.touched)"   class="alert alert-danger">
										<div *ngIf="subject.errors.required">
											Subject is required.
										  </div>
									</div>
                                </div>
                                
                                 <div class="form-group">
                                 <textarea  rows="5" id="comment" name ="comment" [(ngModel)]="model.comment"  placeholder="Comment" required #comment="ngModel" style="width:100%;    padding-left: 10px"></textarea>
									<div *ngIf="comment.invalid && (comment.dirty || comment.touched)"   class="alert alert-danger">
										<div *ngIf="comment.errors.required">
											Comment is required.
										  </div>
									</div>
                                </div>
                                	
                              <span id="reg-st" class="text-center"></span>
                              <button name="register-btn" [disabled]="!contactForm.valid">SEND</button>

                          </form>
						 
                      </div>
                      <div [hidden]="!submitted">
                        <h2>Sent Successfully</h2>
                      </div>
                      
            </div>
            </div>
        </div>
        </div>
    </div>
   
     <div class="wrap-6">
    <div class="container">
        <div class="row">
        <div class="col-6">
           <div class="footer1">
            <img src="assets/img/logo.png" alt="logo">
               <p>
COPYRIGHT © 2018. SCHVEY, INC. <br>ALL RIGHTS RESERVED.</p>
            </div> 
            </div>
            <div class="col-6">
           <div class="footer2">
            <ul>
                <li><a href="#page-one">Home</a></li>
                <li><a href="#two-page">Practice Areas</a></li>
                	<li><a href="#four-page">Giving Back</a></li>
       <li><a href="#three-page">Connect</a></li> 
        <!--li><a routerLink="/login">Log In</a></li-->
                 
              
               </ul>
               <div class="clearfix"></div>
            </div> 
            </div>
        </div>
         </div>
    </div>
    
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>
    $('a[href*="#"]:not([href="#"]):not([href="#show"]):not([href="#hide"])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top
				}, 1000);
				return false;
			}
		}
	});
    </script>
    
    <script>
     	$(window).scroll(function() {
		    var scroll = $(window).scrollTop();
		    if (scroll >= 80) {
		        $(".wrapper-1").addClass("Fixed");
		    } else {
		        $(".wrapper-1").removeClass("Fixed");
		    }
		});
		
    </script>
<router-outlet></router-outlet>